<h1>Flowers</h1>


<form action="/" method="get">
    <select name="color_filter">
    {{#each colors}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
    </select>

    <button type="submit">Choose Color</button>
</form>
<ul>
    {{#each flowers}}
        <li>
        <a href="/details/{{this.name}}">{{this.name}} is {{this.color}}</a></li>
    {{/each}}

</ul>

<h2>Add New Flower</h2>
<form action="/addFlower" method="post">
    Name <input type="text" name="name" placeholder="Name"><br>
    Color <input type="text" name="color" placeholder="Color"><br>
    Wikipedia Page <input type="text" name="wiki" placeholder="Wikipedia Page"><br>
    <button type="submit">Save</button>
</form>